:root {
    --theme: #000000;
    --text: #ffffff;
    --green: #6cc24a;
}

.button-34 {
  background: var(--green);
  border-radius: 999px;
  box-shadow: var(--green) 0 10px 20px -10px;
  box-sizing: border-box;
  color: var(--text);
  cursor: pointer;
  font-family: Inter,Helvetica,"Apple Color Emoji","Segoe UI Emoji",NotoColorEmoji,"Noto Color Emoji","Segoe UI Symbol","Android Emoji",EmojiSymbols,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans",sans-serif;
  font-size: 12px;
  font-weight: 900;
  line-height: 10px;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 8px 18px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  word-break: break-word;
  border: 0;
}
* {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--theme);
    color: var(--text);
}
table.storia{
    width: 70%;
    margin:auto;
    border-collapse: collapse;
    margin-bottom: 10px;
}

table.curiosita {
    width: 50%;
    margin: auto;
    border-collapse: collapse;
    margin-bottom: 10px;
}

table.subtitle {
    margin-top: 0;
}
table.header {
    width: 70%;
    margin: auto;
    margin-left:20%;
    position: relative;
    border-collapse: collapse;
}
table.albums {
    width: 600px;
    margin: auto;
    justify-content: center;
    text-align:center
}
img.albums {
    width:150px;
    height:150px;
}
td, th {
    color: var(--text);
    padding: 0;
    margin: 0;
}

p {
    text-align: justify;
    font-size: 18px;
    line-height: 25px;
    color: var(--text);
}

.title {
    padding: 10px;
    text-align: center;
    color: var(--green);
    font-size: 70px;
    margin: 0px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.youngstoner {
    width: 900px;
    color: var(--text);
    margin-top: 0;
    font-size: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.menu {
    text-align: left;
}
img.menu {
    margin: 0 auto;
    display: block;
    margin-top:10px;
}

h3.menu {
    color: var(--green);
}

a.menu {
    margin: 3%;
    color: rgb(255, 0, 0);
    text-align: left;
    display: block;
    text-decoration: none;
    padding-left: 20px;
    position: relative;
}

a.menu::before {
    content: "• ";
    text-align: left;
    color: var(--text);
}

h1{
    color: var(--green);
    text-align: center;
    font-size: 50px;
}

table.curiosita h3 {
    color: var(--green);
    text-align: center;
}